* {
  margin: 0;
  padding: 0;
  background-color: rgb(48, 48, 48);
  color: aliceblue;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav span {
  padding: 30px 20px;
  list-style: none;
}

.nav-left {
  display: flex;
}

.nav-left li {
  padding: 30px 20px;
  list-style: none;
}

.nav-right img {
  padding: 20px 10px;
}

