/* site */
* {
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: #f7e9e6;
  line-height: 1.6em;
  font-family: 'Montserrat', 'Helvetica';
}

body {
  width: 70%;
  margin: auto;
}

h1 {
  line-height: 2.8em;
  font-size: 45px;
}

/* header  */
header {
  font-weight: 300;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav span {
  padding: 30px 0;
}

.nav-left {
  display: flex;
}

.nav-left li {
  padding: 30px 20px;
  list-style: none;
}

.nav-right img {
  padding: 20px 0 20px 10px;
}

/* home  */

.home-body {
  font-size: small;
  padding-left: 10%;
}

.home-body blockquote {
  margin-top: 20px;
  font-style: italic;
  color: rgb(30, 223, 12);
}


/* about-page  */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
} 

.about-title {
  text-align: center;
  padding: 60px;
}

.about-img {
  width: 40%;
  height: auto;
}

.about-text {
  padding-right: 40px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  flex-basis: auto;

}

.profile-img {
  border-radius: 30px;
  width: 100px;
  height: 100px;
}

/* footer  */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}