* {
  margin: 0;
  padding: 0;
  background-color: rgb(48, 48, 48);
  color: aliceblue;
}

body {
  width: 90%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav span {
  padding: 30px 20px;
  list-style: none;
}

.nav-left {
  display: flex;
}

.nav-left li {
  padding: 30px 20px;
  list-style: none;
}

.nav-right img {
  padding: 20px 10px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
} 

.about-title {
  text-align: center;
  padding: 60px;
}

.about-img {
  width: 40%;
  height: auto;
}

.about-text {
  padding-right: 40px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  flex-basis: auto;

}

.profile-img {
  border-radius: 30px;
  width: 100px;
  height: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}